# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Entornos virtuales
env/
venv/
.venv/

# Archivos del sistema
.DS_Store
Thumbs.db

# VS Code
.vscode/

# otros archivos
.env
logs/


